@{
    ViewBag.Title = "Home Page";
}

<div class="tracks" id="entryForm">
    <form action="../Track/SearchTrackByName">
        <input type="text" name="trackName" placeholder="Enter the track name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>
@*
<div class="artists">
    <form action="../Artist/SearchArtistByName">
        <input type="text" name="artistName" placeholder="Enter the artist name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>
*@
<div class="albums">
    <form action="../Album/SearchAlbumByName">
        <input type="text" name="albumName" placeholder="Enter the album name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>
