@{
    ViewBag.Title = "Home Page";
}

<div class="entryForm" id="tracks">
    <form action="../Track/SearchTrackByName">
        <input type="text" name="trackName" placeholder="Enter the track name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>

<div class="entryForm" id="artists">
    <form action="../Artist/SearchArtistByName">
        <input type="text" name="artistName" placeholder="Enter the artist name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>

<div class="entryForm" id="albums">
    <form action="../Album/SearchAlbumByName">
        <input type="text" name="albumName" placeholder="Enter the album name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>
