
@{
    dynamic albumJSON = TempData["albumJSON"];
    string name = albumJSON.name;
    string artist = albumJSON.artists[0].name;
    string year = albumJSON.release_date;
    string albumCover = albumJSON.images[0].url;
    dynamic tracks = albumJSON.tracks.items;
    string albumURI = albumJSON.external_urls.spotify.ToString();

    ViewBag.Title = @name;

    string url = string.Format("https://open.spotify.com/embed?uri={0}&view={1}", albumURI, "list");
}

<script src="@Url.Content("../../Scripts/dynamicElements.js")" type="text/javascript"></script>

<div>
    <h1>@name</h1>
    <h2>@Html.ActionLink(@artist, "SearchArtistByName", "Artist", new { artistName = @artist }, null)</h2>
    <h2>@year</h2>
    <img src=@albumCover>
    <iframe src=@url width="500" height="600" frameborder="0" allowtransparency="true" ></iframe>
</div>

