@{
    ViewBag.Title = "Albums Search";
}

<div class="entryForm" id="albums">
    <form action="../Album/SearchAlbumByName">
        <input type="text" name="albumName" placeholder="Enter the album name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>

