@{
    ViewBag.Title = "Artist Search";
}

<div class="entryForm" id="artists">
    <form action="../Artist/SearchArtistByName">
        <input type="text" name="artistName" placeholder="Enter the artist name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>

