@{
    ViewBag.Title = "Track Search";
    ViewBag.NoTrackFoundMessage = "That search returned no track results. Please try again.";
    bool noAlbumFound = (TempData["noTrackFound"] == null) ? false : true;
}

<div class="entryForm" id="tracks">
    <form action="../Track/SearchTrackByName">
        <input type="text" name="trackName" placeholder="Enter the track name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>

