@{
    dynamic trackJSON = TempData["trackJSON"];
    string title = trackJSON.name;
    string previewURL = trackJSON.preview_url;
    string artist = trackJSON.artists[0].name;
    string previewButton = "<iframe type=\"text/html\" width=\"480\" height=\"100\" src="+@previewURL+" frameborder=\"0\"></iframe>";
    ViewBag.Title = @title;
}

<script src="@Url.Content("../../Scripts/dynamicElements.js")" type="text/javascript"></script>

<div id="trackInfo">
    <h1>@title</h1>
    <h2>@Html.ActionLink(@artist, "SearchArtistByName", "Artist", new { artistName = @artist }, null)</h2>
    @if (@previewURL != null)
    {
        <div class="previewButton">
            <button onclick="playPreview('playPreviewDiv', '@previewURL')">Play Preview</button>
        </div>
    }


    <div id="playPreviewDiv">
    </div>
    
</div>

