@{
    ViewBag.Title = "Track Search";
}

<div class="entryForm" id="tracks">
    <form action="../Track/SearchTrackByName">
        <input type="text" name="trackName" placeholder="Enter the track name here..." />
        <input type="submit" value="Submit" />
    </form>
</div>

